<form action="/uploads" method="POST" enctype="multipart/form-data">
  <div class="input mb-3">
    <input class="form-control" type="text" name="title" id="title" placeholder="Name">
  </div>
  <div class="custom-file mb-3">
    <input type="file" name="image" id="image" class="custom-file-input">
    <label for="file" class="custom-file-label">Choose File</label>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary btn-block">
</form>

<hr>